*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('image/img.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;

}

h1{
    font-size: 30px;
    color: #285482;
    margin-top: 20px;
}

.btn-info{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-left: 50px;
}
.btn-warning{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-left: 20px;
}


